<form
  class="width-full md:width-50 card"
  [formGroup]="userProfileForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-column">
    <span class="p-input-icon-left w-full mb-4">
      <i class="pi pi-envelope"></i>
      <input
        id="email"
        type="text"
        formControlName="email"
        pInputText
        class="w-full md:w-25rem text-color-secondary surface-50"
        placeholder="Email"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userProfileForm.get('email')?.invalid &&
            (userProfileForm.get('email')?.dirty ||
              userProfileForm.get('email')?.touched)
        }"
      />
    </span>
    <span class="p-input-icon-left w-full mb-4">
      <i class="pi pi-lock"></i>
      <input
        id="password"
        type="password"
        formControlName="password"
        pInputText
        class="w-full md:w-25rem text-color-secondary surface-50"
        placeholder="Password"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userProfileForm.get('password')?.invalid &&
            (userProfileForm.get('password')?.dirty ||
              userProfileForm.get('password')?.touched)
        }"
      />
    </span>
    <span class="p-input-icon-left w-full mb-4">
      <i class="pi pi-user"></i>
      <input
        id="firstName"
        type="text"
        formControlName="firstName"
        pInputText
        class="w-full md:w-25rem text-color-secondary surface-50"
        placeholder="First Name"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userProfileForm.get('firstName')?.invalid &&
            (userProfileForm.get('firstName')?.dirty ||
              userProfileForm.get('firstName')?.touched)
        }"
      /> </span
    ><span class="p-input-icon-left w-full mb-4">
      <i class="pi pi-user"></i>
      <input
        id="lastName"
        type="text"
        formControlName="lastName"
        pInputText
        class="w-full md:w-25rem text-color-secondary surface-50"
        placeholder="Last Name"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userProfileForm.get('lastName')?.invalid &&
            (userProfileForm.get('lastName')?.dirty ||
              userProfileForm.get('lastName')?.touched)
        }"
      />
    </span>
    <span class="p-input-icon-left w-full mb-4">
      <i class="pi pi-phone"></i>
      <input
        id="contact"
        type="text"
        formControlName="contact"
        pInputText
        class="w-full md:w-25rem text-color-secondary surface-50"
        placeholder="Contact"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userProfileForm.get('contact')?.invalid &&
            (userProfileForm.get('contact')?.dirty ||
              userProfileForm.get('contact')?.touched)
        }"
      />
    </span>

    <div class="flex flex-wrap gap-3 mb-4">
      <div
        class="border-1 surface-border flex justify-content-between align-items-center py-2 px-3 border-round"
      >
        <span class="text-900 font-bold p-3">Active</span>
        <p-inputSwitch name="active" formControlName="active"></p-inputSwitch>
      </div>

      <div
        class="border-1 surface-border flex justify-content-between align-items-center py-2 px-3 border-round"
      >
        <span class="text-900 font-bold p-3">Delete</span>
        <p-inputSwitch name="delete" formControlName="delete"></p-inputSwitch>
      </div>
    </div>

    <div class="flex flex-wrap gap-3 mb-4">
      <div class="flex align-items-center">
        <p-radioButton
          name="roles"
          value="CUSTOMER"
          formControlName="roles"
          inputId="CUSTOMER_INPUT"
        />
        <label for="CUSTOMER_INPUT" class="ml-2"> Customer </label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="roles"
          value="VENDOR"
          formControlName="roles"
          inputId="VENDOR_INPUT"
        />
        <label for="VENDOR_INPUT" class="ml-2"> Vendor </label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="roles"
          value="ADMIN"
          formControlName="roles"
          inputId="ADMIN_INPUT"
        />
        <label for="ADMIN_INPUT" class="ml-2"> Admin </label>
      </div>
      <div class="flex w-full"></div>

      <button
        pButton
        pRipple
        label="Update"
        class="mb-4"
        type="submit"
      ></button>
    </div>
  </div>
</form>
