<div class="surface-0">
  <div
    class="flex align-items-center justify-content-between flex-column h-screen"
  >
    <div
      class="flex flex-column align-items-center justify-content-center w-full md:w-4 h-full text-center py-6 px-4"
    >
      <a [routerLink]="['/']" class="mb-3 text-xl">
        <img src="/assets/logo.png" alt="Logo" class="logo" />
      </a>
      <h1 class="my-3">Reset Password</h1>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column">
          <span class="p-input-icon-left w-full mb-4">
            <i class="pi pi-key"></i>
            <input
              id="code"
              type="text"
              formControlName="code"
              pInputText
              class="w-full md:w-25rem text-color-secondary surface-50 border-200"
              placeholder="Code"
            />
          </span>
          <span class="p-input-icon-left w-full mb-4">
            <i class="pi pi-lock"></i>
            <input
              id="password"
              type="password"
              formControlName="password"
              pInputText
              class="w-full md:w-25rem text-color-secondary surface-50 border-200"
              placeholder="Password"
            />
          </span>

          <button
            pButton
            pRipple
            label="Change Password"
            class="w-full mb-4"
            type="submit"
          ></button>
          <a href="#" class="font-medium text-sm text-300">forgot password?</a>
          <p class="font-medium text-400 m-0 mt-6">
            Don't you have an account,
            <a href="#" class="text-primary cursor-pointer">sign up</a>
          </p>
        </div>
      </form>
    </div>
    <div class="flex flex-wrap align-items-center pb-8 px-4">
      <h4 class="m-0 mr-5" style="line-height: 22px">Groce Mart</h4>
      <h6 class="m-0 font-medium text-300" style="line-height: 17px">
        Copyright Ⓒ Groce Mart
      </h6>
    </div>
  </div>
</div>
