<footer class="footer">
  <div class="social-icons">
    <a
      href="#"
      class="p-button p-button-rounded p-button-text p-button-lg p-button-plain"
    >
      <i class="pi pi-facebook"></i>
    </a>
    <a
      href="#"
      class="p-button p-button-rounded p-button-text p-button-lg p-button-plain"
    >
      <i class="pi pi-twitter"></i>
    </a>
    <a
      href="#"
      class="p-button p-button-rounded p-button-text p-button-lg p-button-plain"
    >
      <i class="pi pi-linkedin"></i>
    </a>
    <a
      href="#"
      class="p-button p-button-rounded p-button-text p-button-lg p-button-plain"
    >
      <i class="pi pi-instagram"></i>
    </a>
  </div>
  <div class="footer-text">
    <p>© 2024 Grocery Mart. All Rights Reserved.</p>
    <p>Made with ❤️</p>
  </div>
</footer>
