<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Sr No</th>
      <th>email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>contact</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.contact }}</td>
      <td>
        <p-chip
          [label]="user.active ? 'Yes' : 'No'"
          [styleClass]="user.active ? 'active-user' : 'inactive-user'"
        />
      </td>

      <td>
        <button
          pButton
          class="p-button-icon"
          icon="pi pi-pencil"
          [routerLink]="['/users/edit-user', user.id]"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
