<div class="payment-container">
  <form
    class="payment-form"
    [formGroup]="paymentForm"
    (ngSubmit)="submitPayment()"
  >
    <div class="form-field">
      <label for="cardholderName">Name of Card holder:</label>
      <input
        id="cardholderName"
        type="text"
        pInputText
        placeholder="Enter card holder's name"
        formControlName="cardHolderName"
      />
      <div
        *ngIf="
          cardHolderName.invalid &&
          (cardHolderName.dirty || cardHolderName.touched)
        "
        class="error-message"
      >
        Name of card holder is required
      </div>
    </div>
    <div class="form-field">
      <label for="cardNo">Card Number:</label>
      <input
        id="cardNo"
        type="number"
        pInputText
        placeholder="Enter card number"
        formControlName="cardNo"
      />
      <div
        *ngIf="cardNo.invalid && (cardNo.dirty || cardNo.touched)"
        class="error-message"
      >
        Please enter a valid 16-digit card number
      </div>
    </div>
    <div class="form-row">
      <div class="form-field">
        <label for="cardExp">Expiry of card:</label>
        <input
          id="cardExp"
          type="text"
          pInputText
          placeholder="MM/YY"
          formControlName="cardExp"
        />
        <div
          *ngIf="cardExp.invalid && (cardExp.dirty || cardExp.touched)"
          class="error-message"
        >
          Please enter a valid expiry date (MM/YY)
        </div>
      </div>
      <div class="form-field">
        <label for="cvv">CVV:</label>
        <input
          id="cardCVV"
          type="number"
          pInputText
          placeholder="Enter CVV"
          formControlName="cardCVV"
        />
        <div
          *ngIf="cardCVV.invalid && (cardCVV.dirty || cardCVV.touched)"
          class="error-message"
        >
          Please enter a valid 3-digit CVV
        </div>
      </div>
    </div>
    <button
      pButton
      type="submit"
      label="Confirm Payment"
      class="submit-button"
    ></button>
  </form>
</div>
