<!-- <h3>Cart</h3>
<div class="flex flex-column justify-content-center align-items-center">
  <div
    class="mb-5 lg:mb-0"
    *ngFor="let product of products?.orderDetailsDTOList"
    [routerLink]="['/product/product-view/', product.product.id]"
  >
    <div class="mb-3 relative flex">
      <img [src]="product.product.image" class="w-3rem h-3rem" />
      <div class="flex flex-column align-items-center">
        <span class="text-xl text-900 font-medium mb-3">{{
          product?.product?.productName
        }}</span>
        <span class="text-xl text-900 mb-3"
          >${{ product?.product?.price }}</span
        >
        <p-inputNumber
          [ngModel]="product?.quantity"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          [min]="0"
          inputStyleClass="w-3rem text-center"
          decrementButtonClass="p-button-text"
          incrementButtonClass="p-button-text"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          (click)="$event.stopPropagation()"
        ></p-inputNumber>
      </div>
    </div>
  </div>

  
</div> -->

<div class="cart-container">
  <ng-container *ngIf="products?.totalqty; else emptyCart">
    <div class="cart-items">
      <ng-container *ngFor="let product of products?.orderDetailsDTOList">
        <div *ngIf="product.quantity" class="cart-item">
          <img
            [src]="product.product.image"
            alt="{{ product.product.productName }}"
            class="product-image cursor-pointer"
            [routerLink]="['/product/product-view/', product.product.id]"
          />
          <div class="product-details">
            <div class="flex justify-content-between">
              <div class="product-name">{{ product.product.productName }}</div>
              <div class="product-price">${{ product.product.price }}</div>
            </div>
            <div class="flex justify-content-between">
              <p-inputNumber
                [ngModel]="product?.quantity"
                [showButtons]="true"
                buttonLayout="horizontal"
                spinnerMode="horizontal"
                [min]="0"
                inputStyleClass="w-3rem text-center"
                decrementButtonClass="p-button-text"
                incrementButtonClass="p-button-text"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
                (click)="$event.stopPropagation()"
                (onInput)="setQty($event, product)"
              ></p-inputNumber>
              <i
                class="pi pi-trash cursor-pointer"
                (click)="removeItemFromCart(product.product.id)"
                title="Remove"
              ></i>
            </div>
            <div class="product-total">
              Total: ${{ product.product.price * product.quantity }}
            </div>
          </div>
        </div>
      </ng-container>
      <div class="cart-summary">Total: ${{ products?.amount || 0 }}</div>
      <button pButton pRipple label="Checkout" (click)="onCheckout()"></button>
    </div>
  </ng-container>

  <ng-template #emptyCart>
    <div
      class="flex flex-column gap-2 justify-content-center align-items-center"
    >
      <img src="assets/images/cart/empty-cart.png" alt="" />
      <button
        pButton
        pRipple
        label="Continue Shopping"
        (click)="router.navigate(['product'])"
      ></button>
    </div>
  </ng-template>
</div>
