<div class="flex flex-column align-items-center">
  <button
    pButton
    pRipple
    label="Add New Category"
    class="mb-4"
    [routerLink]="['/categories', 'add-category']"
  ></button>
  <div class="card" style="width: 50rem">
    <p-table [value]="categories">
      <ng-template pTemplate="header">
        <tr>
          <th>Category</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.categoryName }}</td>
          <td>
            <span class="p-chip">{{ product.active ? "Yes" : "No" }}</span>
          </td>
          <td class="flex">
            <i
              class="pi pi-pencil mr-2 cursor-pointer"
              style="font-size: 1.2rem"
              [routerLink]="['/categories', 'edit-category', product.id]"
            ></i>
            <i
              class="pi pi-trash cursor-pointer"
              style="font-size: 1.2rem"
              (click)="deleteCategory(product.id)"
            ></i>
          </td>
          <!-- <td>{{ product.quantity }}</td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
